@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.links,
.links:visited {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}

/* a.links {
  text-decoration: none;
  color: inherit;
} */

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

a.active {
  color: #9c27b0;
  font-weight: 900;
  animation: fade-in 1000ms;
  opacity: 1;
}

div.nav-link-container {
  display: flex;
  margin-top: -1rem;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
}

div.nav-link-login {
  margin: 0.5rem auto 1rem auto;
  width: 150px;
  text-align: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

div.nav-link-login:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.nav-link-login-text {
  color: #fff;
}

.dark-mode {
  color: #9c27b0;
  margin-top: -15px;
  min-height: 50px;
}
