.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
  justify-content: center;
}

.link {
  text-decoration: none;
  padding: 1rem;
  color: inherit;
}
