.no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* display: block; */
  width: calc(80%);
  min-width: 1px;
}

.recipe-card-container {
    max-width: 345px;
    height: "100%"
}
span.bold {
  font-weight: bolder;
}

p.ingredients-list {
  font-size: smaller;
}

.recipe-content-container {
  padding: 2rem;
}

a.source {
  font-size: smaller;
}

a.edamam {
  font-size: smaller;
  font-weight: bolder;
}